                                             <!-- Fichier pour la page d'erreur en cas d'echec de la tentative d'acces a la page paremtre admin -->



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized Access</title>
</head>
<body>
    <h1>Accès non autorisé</h1>
    <p>Veuillez réessayer ou revenir à la page d'accueil.</p>
    <form action="/admin" method="get">
        <button type="submit">Réessayer</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Page d'accueil</button>
    </form>
</body>
</html>
